--extra-index-url https://download.pytorch.org/whl/cu126
torch>=2.1
torchvision>=0.24

# ---- Scientific stack -----------------------------------------------------
numpy>=1.26,<3
scipy>=1.13
setuptools==69.0.3  # some versions of setuptools dont contain pkg_resources
matplotlib  # needs pkg_resources
h5py>=3.11
PyYAML
k-diffusion>=0.1.1
showerdata

# ---- Dev / debug ----------------------------------------------------------
ipdb
