--extra-index-url https://download.pytorch.org/whl/cu126
torch>=2.1

# ---- Scientific stack -----------------------------------------------------
numpy>=1.26,<3
scipy
setuptools==69.0.3  # some versions of setuptools dont contain pkg_resources
matplotlib
h5py>=3.10
PyYAML
k-diffusion
showerdata
pot>=0.7

# ---- Dev / debug ----------------------------------------------------------
ipdb
